<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-galerie-ghtpr" >
	<tr>
		<td>
			<f:translate key="tx_galerieghtpr_domain_model_author.lastname" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerieghtpr_domain_model_author.firstname" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerieghtpr_domain_model_author.job" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerieghtpr_domain_model_author.address" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerieghtpr_domain_model_author.email" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerieghtpr_domain_model_author.phone_number" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerieghtpr_domain_model_author.website" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerieghtpr_domain_model_author.biography" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>