<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:form action="search" name="search" object="{search}" class="form-inline text-center">
    <div class="form-group mx-sm-3 mb-2">
        <f:form.textfield placeholder="Saisir..." property="text" />
        <f:form.select name="category" options="{categories}" optionValueField="uid" optionLabelField="name" />
    </div>
    <f:form.submit class="btn btn-primary col-sm-offset-1" value="Rechercher" />
</f:form>

</html>