<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Liste des catégories</h1>

		<f:flashMessages />

		<style>
			table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				width: 100%;
			}

			td, th {
				border: 1px solid #dddddd;
				text-align: left;
				padding: 8px;
			}

			tr:nth-child(even) {
				background-color: #dddddd;
			}

			button{
				margin: 20px;
			}
		</style>

		<table  class="tx_galerieghtpr" >
			<tr>
				<th><f:translate key="tx_galerieghtpr_domain_model_category.name" /></th>
				<th><f:translate key="tx_galerieghtpr_domain_model_category.description" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{categories}" as="category">
				<tr>
					<td><f:link.action action="show" arguments="{category : category}"> {category.name} </f:link.action></td>
					<td><f:link.action action="show" arguments="{category : category}"> {category.description -> f:format.htmlentitiesDecode(encoding: 'UTF-8')} </f:link.action></td>
				</tr>
			</f:for>
		</table>
	</f:section>
</html>